<!DOCTYPE html>
<html>
<head>
  <title>VP en mantenimiento</title>
  <style type="text/css">
    body { background-color: #fff; color: #666; text-align: center; font-family: arial, sans-serif; }
    div.dialog {
      width: 25em;
      padding: 0 4em;
      margin: 4em auto 0 auto;
      border: 1px solid #ccc;
      border-right-color: #999;
      border-bottom-color: #999;
    }
    h1{ font-size: 100%; color: #f00; line-height: 1.5em; }
    img{ margin-top: 1.5em; }
  </style>
</head>

<body>
  <div class="dialog">
    <%= image_tag "old-logo.png" %>
    <h1>Estamos de mantenimiento.</h1>
    <p>Estamos fuera de servicio temporalmente para realizar tareas de mantenimiento. Perdona las molestias.</p>
  </div>
</body>
</html>
