- content_for :title do 
  VP | Resetear contraseña

.portlet
  %h2 Resetear contraseña

  %p Desde aquí podrás resetear tu contraseña en caso de haberla olvidado. Ingresa tu dirección de correo electrónico y recibirás allí las instrucciones para hacerlo.

  = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
    = devise_error_messages!
    .wrapper
      .field
        = f.email_field :email, placeholder: "Email"
    
      %div= f.submit "Enviar instrucciones"
