// Place all the styles related to the admin/songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#colabos{
  td{ 
    vertical-align: middle; 
    input[type="checkbox"]{
      margin-top:0px;
    }
  }

  th, td{
    &.center{
      text-align:center;
      width:60px;
    }

    &.right{
      text-align: right;
    }

    &.action{
      width: 55px;
    }
  }

  .select2-container{
    margin-bottom:0px;
  }
}