// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body[data-controller="posts"][data-action="show"],
body[data-controller="posts"][data-action="index"]{
  h1, h2, h3, h4, h5{
    font-family: 'Coustard', serif;
    font-weight: normal;
  }

  .left_col{
    border-right:1px solid #DDD;
    width:670px;
    float:left;
  }

  .right_col{
    width:349px;
    float:left;

    .ad{
      margin: 15px auto;
    }

    h2{
      margin: 0px !important;
      background: #000;
      color:#fff;
      padding:10px;
      font-family: 'Oswald', serif;
      text-transform: uppercase;
      clear:both;
    }
  }

  .right_col > *{
    margin:0px 15px;
  }

  .post {
    padding:15px;

    .categories{
      clear:both;
      margin-bottom:5px;
      font-weight: bold;
      font-size:12px;
      text-transform: uppercase;
      color:#999;
      font-style: italic;
    }

    h1.title {
      font-size: 28px;
      line-height: 28px;
      clear:both;
      margin:0px;
    }

    .meta{
      color:#bbb;
      font-size:12px;
      margin-bottom: 15px;
      // background-color: #eee;
      // padding:15px;
      // border-radius: 5px;
    }

    .content{
      font-size:14px;
      line-height: 23px;

      p{
        margin:0px 0px 15px 0px;
      }
    }
  }

  .comments{
    background: url(noisy-bg.png);

    h2{
      background:#000;
      color:#fff;
      padding:15px;
      margin-bottom: 0px;
      box-shadow: 0px 1px 5px #aaa;
    }

    .comment_list{
      width:100%;
      float:left;
      clear:both;

      .comment{
        float:left;
        clear:both;
        padding:20px;
        background: transparent url(comment-vertical-line.png) 43px 0px repeat-y;

        .avatar{
          float:left;
          margin-top: -5px;

          img{
            border-radius: 500px;
            width: 50px;
            height: 50px;
          }
        }

        .bubble_triangle{
          width: 0; 
          height: 0; 
          border-top: 7px solid transparent;
          border-bottom: 7px solid transparent; 
          border-right:7px solid #f9f9f9; 
          float:left;
          margin-left:20px;
          margin-top:10px;
        }

        .bubble{
          border-radius:8px;
          background-color: #fff;
          float:left;
          overflow: hidden;
          border-bottom: 1px solid #CFCFCF;
          width:550px;
        
          .meta{
            background-color: #f9f9f9;
            border-bottom: 1px solid #e6e6e6;
            padding:7px 15px;

            span.when{
              color:#c0c0c0;
              font-size:11px;
            }

            a{
              font-weight: bold;
            }
          }

          .content{
            padding: 0px 15px;
            color: #757575;
          }
        }
      }

      p.empty_comments{
        text-align: center;
        font-size: 24px;
        padding-top:15px;
        font-family: 'Coustard', serif;
        color:#757575;
      }
    }

    .comments_pagination{
      clear:both;
      text-align: right;
      padding: 0px 24px 18px;
      color: #757575;

      span, em, a{
        background-color: #f9f9f9;
        border:1px solid #ccc;
        padding:5px 10px;
        border-radius:5px;
      }

    }

    .leave_comment{
      clear:both;
      border-top:1px solid #DDD;
      background-color: #fff;
    
      h2{
        margin-top: 0px;
      }

      form{
        padding:15px;

        .form-actions{
          margin-top: 15px;
        }
      }
      p {
        padding:15px;
      }
    }
  }

  .post-list-wrapper{
    padding: 15px;

    h2{
      font-size:30px;
      line-height:40px;
    }

    .post-list,
    .pagination{
      float:left;
      clear:both
    }

    .pagination{
      width: 100%;
      text-align: center;
    }
  }

  .post-summarized{
    float:left;
    clear:both;
    margin-bottom: 25px;

    .illustration{
      width: 180px;    
      height: 120px;
      background-position: center;
      background-size: cover;
      border:1px solid #ddd;
    }

    .pull-left:not(.illustration){
      width:435px;
      margin-left:20px;
    }

    .categories{
      margin-bottom:5px;

      .category{
        background-color: #B9B9B9;
        color: #FFF;
        font-weight: bold;
        padding: 3px 6px;
        text-transform: uppercase;
        font-size: 10px;
        border-radius: 3px;
      }
    }

    h3{
      margin-bottom:0px;
    }

    .meta{
      display: inline-block;
      font-size:12px;
      margin-bottom:5px;
      float:left;
    }

    .comments-bubble{
      float:right;
      margin-top:-3px;
      
      a{
        background-color: lighten($orange_reshulon, 10%);
        font-size: 10px;
        font-weight: bold;
        color: #fff;  
        padding:3px 6px;   
        position:relative; 
      }

      a:after{
        content: "";
        position: absolute !important;
        bottom: -5px;
        z-index: 100;
        border: 0 solid lighten($orange_reshulon, 10%);
        border-bottom: 7px solid transparent;
        width: 100%;
        border-right-width: 7px;
        border-left-width: 0;
        right: 2px;
      }

      a:hover{ text-decoration: none; }
    }
  }
}

body[data-controller="posts"][data-action="show"]{
  .share{
    margin-bottom: 1em;

    h4{
      display: inline-block;
      width: 85px;
      margin:0;
    }

    iframe{
      vertical-align: middle;
    }

    span{
      display: inline-block;
      width: 110px;
    }

    .twitter-share-button{
      width: 100px !important;
    }
  }

  .tags{
    margin-bottom: 1em;
    h4{ 
      display: inline-block; 
      width: 80px;
      margin:0;
    }

    ul {
      display: inline;
      list-style: none;
      margin: 0px;

      li {
        display: inline;

        &:after {
          content: ", ";
        }
        &:last-child::after{
          content: "";
        }
      }
    }    
  }

  #comment_content{
    width:70%;
    height:100px;
  }
}

ul#categories{
  margin:0;
  padding:0;

  li{
    margin:0;
    list-style-type:none;

    a{
      display:block;
      padding:10px 15px;
      border-bottom:1px solid #ccc;
    }
    a:hover{
      text-decoration: none;
      background: #dedede;
      border-left: 5px solid $orange_reshulon;
    }

    &.active{
      background-color: #cdcdcd;
    }
  }
}