%p Hola #{@resource.to_s}

%p Alguien ha solicitado cambiar tu contraseña, puedes hacerlo utilizando el link que aparece a continuación.

%p= link_to 'Cambiar mi contraseña', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)

%p Si no has solicitado esto, por favor ignora este email.

%p Tu contraseña no cambiará hasta que accedas al enlace que te hemos facilitado y pongas una nueva.

%p - Equipo de VersosPerfectos.com